body {
  margin: 0;
}
.section {
  display: flex;
  gap: 100px;
  padding: 100px 80px;
}
.section-1 {
  background-image: url("../img/top-banner.png");
  background-repeat: no-repeat;
}
.section-2 {
  background-image: url("../img/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
.section img {
  width: 40%;
}
.section-half {
  width: 50%;
}

.heading {
  font-size: 40px;
}
.highlight {
  color: orange;
}
.button {
  padding: 6px 10px;
  background-image: linear-gradient(orange, red);
  color: #fff;
  border: 0;
  border-radius: 5px;
}
